<h1>Stupid Coaching</h1>

<div>
  <p><%= params[:get] %></p>
  <p class="answers"><%= "-You" %></p>
</div>

<div id="coach">
  <p><strong><%= @answer %></strong></p>
  <p class="answers"><%= "-Your Coach" %></p>
</div>
